/*静态图片动态化*/
.hu__hu__ {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("@/assets/images/bj.jpg");
    background-size: cover;
}

.conten-header {

    background-color: rgba(248, 249, 250, 0.4);
    border-bottom: solid 1px var(--el-border-color);
    height: 45px;
    width: 98vw;
    top: 20px;
    left: 20px;
    boxSizing: 'border-box';
    position: fixed;
    border-radius:105px;

}

.el-menu {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding-left: 0;
    position: relative;

}
.menu{
    gap: 10px 15px;
}
.el-menu-item {
    align-items: center;
    border-bottom: 2px solid transparent;
    color: var(--el-menu-text-color);
    display: inline-flex;
    height: 40%;
    justify-content: center;
    margin: 0;
    border-radius: 100px;
}

.el-sub-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-radius: 105px;
}

.el-sub-menu__title {
    border-bottom: 2px solid transparent;
    color: var(--el-menu-text-color);
    height: 10px;
    border-radius: 105px;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #f8f9fa00;
    height: 45px;

}





