body{
    color: white;
    fill: currentColor;
    user-select: none;
    height: 100%;
    overflow: hidden;
    display: block;
}
div{
    display: block;
    unicode-bidi: isolate;
}
.page.page-1{
    transform: translateY(0);
}
.page {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("@/assets/images/bg.1.jpg");
    background-size: cover;
    transition: transform .3s;
}

div{
    display: block;
    unicode-bidi: isolate;
}
.page.page-2{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("@/assets/images/bg.2.jpg");
    background-size: cover;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7%);
}

.active.page:not(.active){
    transform: translateY(100%);
}



.conten-header {

    background-color: rgba(248, 249, 250, 0.4);
    border-bottom: solid 1px var(--el-border-color);
    height: 45px;
    width: 98vw;
    top: 20px;
    left: 20px;
    boxSizing: 'border-box';
    position: fixed;
    border-radius:105px;

}

.el-menu {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    liyarst-style: none;
    margin: 0;
    padding-left: 0;
    position: relative;


}
.menu{
    gap: 10px 15px;
}
.el-menu-item {
    align-items: center;
    border-bottom: 2px solid transparent;
    color: var(--el-menu-text-color);
    display: inline-flex;
    height: 40%;
    justify-content: center;
    margin: 0;
    border-radius: 100px;
}

.el-sub-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-radius: 105px;
}

.el-sub-menu__title {
    border-bottom: 2px solid transparent;
    color: var(--el-menu-text-color);
    height: 10px;
    border-radius: 105px;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #f8f9fa00;
    height: 45px;

}





